{% extends'base.html' %}

{% block content %}

<div class="media">
  <div class="media-body">
    <h3 class="media-heading" style="color:#3c763d">The purpose of the site</h3>
    <p style="font-size:16px">Use of deep learning, more quickly and accurately identify images, to accurate identification of the unknown object.</p>
  </div>
  <br>
  <div class="media-body">
    <h3 class="media-heading" style="color:#3c763d">What model to use</h3>
    <p style="font-size:16px">Use the preprocessing model, InceptionV3.</p>
  </div>
  <br>
  <div class="media-body">
    <h3 class="media-heading" style="color:#3c763d">About the domain name</h3>
    <p style="font-size:16px">We are students of Nciae.We come together because we love machine learning and want to maintain a community of machine learning. This is the source of
      <a href="{{ url_for('index') }}">www.nciaeml.club</a>.</p>
  </div>
<!--  <div class="media-body">-->
<!--    <h3 class="media-heading" style="color:#3c763d">Be interested in the website</h3>-->
<!--    <p style="font-size:16px">The project is already open source on github.Welcome to visit-->
<!--      <a href="www.baidu.com">https://github.com/yikegaocaisheng/Image-classifier</a>.</p>-->
<!--  </div>-->
<!--  <div class="media-body">-->
<!--    <h3 class="media-heading" style="color:#3c763d">About us</h3>-->
<!--    <p style="font-size:16px">Email:821778495@qq.com&nbsp;&nbsp;WeChat:13633137077.</p>-->
<!--  </div>-->
</div>

{% endblock %}